body{
  background: #1e1f26;
  overflow-x: hidden;
}


.my_style-bg-shadow{
box-shadow:0 2px 5px rgba(0,0,0,0.5);
background:#1e1f26;
border-bottom: 1px solid rgba(255,255,255,0.05);
}

p{
  color:white;
}

.color{
  color:#aaaebc;
  background:#1e1f26;
}

.my_span-title{
  display:block;
  font-size: 1.2em;
  border-bottom: 1px solid rgba(255,255,255,0.05);
  font-weight: bold;
  box-shadow:0 2px 5px rgba(0,0,0,0.5);
  background:#1e1f26;
}

.codepen{
  background:#212121;
}

.my_overflow{
  height:250px;
  overflow-y: scroll;
}

#parolaFirst,
#parolaSecond{
  margin-bottom:20px;
  background:#1e1f26;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 5px;
  animation : text 1.5s 1;
  position:relative;
}



#first,
#second{
  font-size: 2rem;
  color:rgb(221, 169, 0);
  text-transform: uppercase;
  font-weight: bold;
}

@keyframes text{
  0%{
    margin-bottom : -40px;
    color:#1e1f26;
  }

  30%{
    margin-bottom : -40px;
    letter-spacing: 15px;
  }
  85%{
    margin-bottom : -40px;
    letter-spacing : 5px;
  }
}


#idem{
  background:#1e1f26;
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  animation : textidem 1.5s 1;
}

@keyframes textidem{
  0%{
    color:#1e1f26;
  }
  30%{
    letter-spacing: 5px;
  }
  85%{
    letter-spacing : 2px;
  }
}